<h2> Welcome to Binding Examples!</h2>
<h3> One way Binding:</h3>
<div class="play-container">
    <div><span (click)="IncreaseCounter()">+</span> {{counter}}  <span (click)="DecreaseCounter()">-</span></div>
    
</div>

<h3> Two way Binding:</h3>
<div class="play-container">
    <input type="text" [(ngModel)] ="name"/>
    <p><strong>You have typed: </strong> {{ name }} </p>
</div>

<h3> Ng Template:</h3>
<div class="play-container">
    <ng-template [ngIf]="counter > 4" [ngIfElse]="none">
        <p>The click counter <strong>IS GREATER</strong> than 4.</p>
    </ng-template>

    <ng-template #none>
        <p>The click counter is <strong>not greater</strong> than 4.</p>
    </ng-template>
</div>

<h3> Ng style binding:</h3>
<div class="play-container">
    <ng-template [ngIf]="counter > 4" [ngIfElse]="none">
        <p>The click counter <strong>IS GREATER</strong> than 4.</p>
    </ng-template>

    <ng-template #none>
        <p>The click counter is <strong>not greater</strong> than 4.</p>
    </ng-template>
</div>

<h3> Ng style class binding:</h3>
<div class="play-container" [class.active]="counter > 4">
    <ng-template [ngIf]="counter > 4" [ngIfElse]="none">
        <p>The click counter <strong>IS GREATER</strong> than 4.</p>
    </ng-template>

    <ng-template #none>
        <p>The click counter is <strong>not greater</strong> than 4.</p>
    </ng-template>
</div>

<h3> Ng style class binding using component class:</h3>
<div class="play-container" [ngClass]="setClasses()">
    <ng-template [ngIf]="counter > 4" [ngIfElse]="none">
        <p>The click counter <strong>IS GREATER</strong> than 4.</p>
    </ng-template>

    <ng-template #none>
        <p>The click counter is <strong>not greater</strong> than 4.</p>
    </ng-template>
</div>